{% extends '::base.html.twig' %}

{% block body -%}
    <h1>marcoFamiliar edit</h1>

    {{ form(edit_form) }}

        <a  href="{{ path('marcoFamiliar') }}">
            Back to the list
        </a>
    </li>
    {{ form(delete_form) }}
{% endblock %}
