{% extends '::base.html.twig' %}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active"><span>Solicitudes</span></li>
        </ol>

    </div>
</div>
{% endblock -%}
{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">
<div class="table-responsive">
<table class="table user-list table-hover">
<thead>

{% block body -%}
    <h1>trayectoriaEsco creation</h1>

    {{ form(form) }}

        <a  href="{{ path('trayectoriaesco') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
