{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hoja5_7 creation</h1>

    {{ form(form) }}

        <a  href="{{ path('hoja5_7') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
