{% extends '::base.html.twig' %}
{% block placeholder -%}
<div class="row">
    <div class="col-lg-12">
        
        <div class="clearfix">
            <h1 class="pull-left">Agregar cliente</h1>
           
        </div>
    </div>
</div>
{% endblock -%}
{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">
    
    <h1 class="text-center"><strong>Resumen Ejecutivo </strong></h1>

    {{ form_start(form) }}
    BIENES RAICES
        {{ form_widget(form.hoja4_1) }}
    AUTOMOVILES
        {{ form_widget(form.hoja4_2) }}
    {{ form_end(form) }}
     </div>
</div>
</div>
{% endblock %}
