{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hoja7_4 creation</h1>

    {{ form(form) }}

        <a  href="{{ path('hoja7_4') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
