{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">
    <h1>Agregar usuario</h1>
   
	{{ form_start(form, {'attr': {'class': 'form_transaccion_edit'}}) }}		
    	<div class="row">
	    {{ form_rest(form) }}

		</div>
		<button class="btn btn-success" type="submit">Guardar</button>
        <button class="btn btn-default" type="reset">Limpiar</button>
        <a class="btn btn-warning" href="{{ path('user') }}">Limpiar</a>
    {{ form_end(form) }}                     
 </div>
</div>
</div>
</div>      
{% endblock %}
