{% extends '::base.html.twig' %}

{% block body -%}
    <h1>DependientesEconomicos creation</h1>

    {{ form(form) }}

        <a  href="{{ path('DependientesEconomicos') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
