{% extends '::base.html.twig' %}

{% block body -%}
    <h1>DependientesEconomicos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <a  href="{{ path('DependientesEconomicos') }}" class="btn btn-warning">Regresar</a>
        <a href="{{ path('DependientesEconomicos_edit', { 'id': entity.id }) }}" class="btn btn-success">Editar</a>
    {{ form(delete_form) }}
{% endblock %}
