{% extends '::base.html.twig' %}

{% block body -%}
    <h1>habitantesDomicilio creation</h1>

    {{ form(form) }}

        <a  href="{{ path('habitantesdomicilio') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
